<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<footer class="container">
  <div class="row">
      <div class="col-xs-1">
          <a routerLink="#"  data-toggle="tooltip" title="OLX.in-OLX India"><img src="./assets/images/Screenshot from 2018-06-10 22-42-50.png" /></a>
        </div>
        
    <div class="col-xs-11">
      
      <div class="col-xs-2">
        <div>
          <a routerLink="#" data-toggle="tooltip" title="Locations Map">Locations Map</a>
        </div>
        <div>
          <a routerLink="#"  data-toggle="tooltip" title="Popular searches">Popular searches</a>
        </div>
        <div>
          <a routerLink="#" data-toggle="tooltip" title="Archive">Archive</a>
        </div>
        <div>
          <a routerLink="#" data-toggle="tooltip" title="Sitemap">Sitemap</a>
        </div>
        <div>
          <a routerLink="#" data-toggle="tooltip" title="Featured Ads">Featured Ads</a>
        </div>
      </div>
      <div class="col-xs-2">
        <div>
          <a routerLink="#" data-toggle="tooltip" title="Terms of Use">Terms of Use</a>
        </div>
        <div>
          <a routerLink="#" data-toggle="tooltip" title="Help & Contact Us">Locations Map</a>
        </div>
      </div>
      <div class="col-xs-2">
        <div>
            <a data-toggle="collapse" data-target="#collapseOne" ng-click="firstpaneisopen=!firstpaneisopen">Who we are
            <!-- <i class="glyphicon glyphicon-chevron-up" ng-class="{'glyphicon-chevron-up': firstpaneisopen, 'glyphicon-chevron-down': !firstpaneisopen}"></i>  -->
            <i class="fas fa-caret-down" ng-class="{'glyphicon-chevron-up': firstpaneisopen, 'glyphicon-chevron-down': !firstpaneisopen}"></i> </a>
         </div>
        <div>
          <a routerLink="#"> Join OLX</a>
        </div>
        <div>
          <a routerLink="#"> Happy OLXers</a>
        </div>
      </div>

<div class="col-xs-5 margi">
      <div class="align"> Connect with us</div>
      <ul class="nav navbar-nav">
        <li class="pad">
     <a routerLink="#" ><img src="./assets/images/Screenshot from 2018-06-10 22-43-17.png" ></a>
        </li>
        <li class="pad">
          <a routerLink="#" ><img src="./assets/images/Screenshot from 2018-06-10 22-43-59.png" /></a>
        </li>
        <li  class="pad">
          <a routerLink="#"><img src="./assets/images/Screenshot from 2018-06-10 22-44-17.png" /></a>
        </li>
        <li class="pad">
          <a routerLink="#"><img src="./assets/images/Screenshot from 2018-06-10 22-44-43.png" /></a>
        </li>
      </ul>
      
    </div>
    
  </div>
  
</div>
<div id="collapseOne" class="collapse mar">
    OLX.in is a free local classifieds site. Sell anything from used cars to mobiles, 
    furniture, laptops, clothing and more. Submit ads for free and without creating an account.
     If you want to buy something - here you will find interesting items, cheaper than in the store. 
     Start buying and selling in the most easy way on OLX.in.
    </div>
</footer>
